/* Couleurs */
  :root {
    --brand-white: #FFFFFF;
	--brand-black-bean: #501010;
	--brand-dark-sienna: #2E0E0E;
    --brand-rich-black: #0F1212;
    --brand-cod-gray: #0F0F0F;
    --brand-tulip-tree: #EABC44;

}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    line-height: 2;
    font-family: Roboto, sans-serif;
    color: var(--brand-white);
    background-color: var(--brand-cod-gray);
    
}