@use "../abstracts/variables";
@use "../abstracts/mixins";

.page_story{
    background-image: url("../img/background-histoire.jpg");
    background-color: var(--brand-rich-black);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
    margin: 0 auto;
    color: var(--brand-rich-black);
    max-width: 100%;
    text-align: center;
    padding-bottom: 13rem;
    font-size: 1.8rem;
  }
  
  .page_story_game{
    text-align: center;
    color: var(--brand-rich-black);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    margin: 0 auto;
    width: 80%;
  }

  .size_title_level_game {
    padding-top: 2rem;
    font-family: Girassol, sans-serif;
  }

  .page_story_game h2 {
    margin-bottom: 3rem;
  }

  @include mixins.mq(variables.$bp-desktop) {

    .page_story{

      font-size: 2.2rem;
    }

    .page_story_game{
      text-align: justify;
      
    }

    .size_title_level_game {
      padding-top: 6rem;
    }
  }