.plan_site_menu{
    
    list-style-type: none;
    text-align: center;
    font-size: 2.5rem;
    padding: 0;
  }

  .plan_site_element {
    margin: 2rem auto;
  }

  .navigation .first_column,
  .navigation .second_column
  {
    display: inline-block;
    width: calc(50% - 1rem);
  }