@use "../abstracts/variables";
@use "../abstracts/mixins";

/* Post Carnet de bord Home */

.post__one .first_column,
.post__one .second_column {

    width: 100%;
    text-align: justify;
    vertical-align: top;
    margin-right: 2rem;
    margin-top: 2rem;

}

@include mixins.mq(variables.$bp-desktop) {

    .post__one .first_column,
    .post__one .second_column {
        display: inline-block;
        width: calc(50% - 2rem);
        margin-right: 2rem;
    }
}
    

.post__two .first_column,
.post__two .second_column {
    /* ci-dessous, on soustrait les marges (2 * 2rem) à la largeur de l'élément */
    /* width: calc(50% - 4rem); */
    width: 100%;
    text-align: justify;
    vertical-align: top;
    margin-right: 2rem;
    margin-top: 2rem;
}

@include mixins.mq(variables.$bp-desktop) {

    .post__two .first_column,
    .post__two .second_column {
        display: inline-block;
        width: calc(50% - 8rem);
        margin-right: 2rem;
    }
}



.post_container_text {
    text-align: center;
    margin: 2rem 4rem 0rem 4rem;
    width: 90%;

}