.form_search {
    text-align: end;
    vertical-align: top;
}

.image_button_search {

    background-color: var(--brand-rich-black);
    color: var(--brand-white);
    background-image: url("../img/vector.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 3rem;
    height: 3rem;
    border: none;
    padding-top: 2rem;
}

.form_container{
    width: 40%;
    border-radius: 0.8rem;
    border: 0.2rem solid var(--brand-rich-black);
}
