@use "../abstracts/variables";
@use "../abstracts/mixins";

.image__background{
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    padding: 10rem;
    
    }

.first_column img,
.header_logo img {
    margin-top: 2rem;
}

.wp-block-image img {
    height: 100%; 
    border: 2px solid #404040; 
}

@include mixins.mq(variables.$bp-desktop) {

    .image_carnet_single {
        width: 50%;
    }
}

.menu_icon_login {
    background-image: url('../img/connexion_icons');
    background-repeat: no-repeat;
    background-position: center ;
}

.header_logo img {
    width: 5.8rem;
    height: 7.4rem;
  }

  @include mixins.mq(variables.$bp-desktop) {
      
    .header_logo img {
        width: 9.2rem;
        height: 10.4rem;
    }
}

  .first_column img {
      border-radius: 3rem;
}

.archive_article_image img {
    border-radius: 3rem;
}
  