/* Lien CTA button */

.link__cta {
    display: inline-block;
    padding: 0.8rem 0.5rem;
    border-radius: 0.8rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
    max-width: 18rem;
    margin: 1rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--brand-white);
    background-color: var(--brand-dark-sienna);

    }

.link__play:hover,
.link__play:focus,
.link__information:hover,
.link__information:focus{
    color: var(--brand-dark-sienna);
    background-color: var(--brand-white);
    text-decoration: none;

}

.link_btn_play{
    display: inline-block;
    padding: 0.3rem 2rem;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: var(--brand-rich-black);
    color: var(--brand-white);
  }
  
  .link_btn_play:hover,
  .link_btn_play:focus {
      color: var(--brand-tulip-tree);
      background-color: var(--brand-rich-black);
  }